# 4.6 Merging Instacart Data

## This scrip contains the following:

#### 1. Import the data set

#### 2. Check the dimensions of the imported dataframe

#### 3. Merge the dataframe with your df_ords dataframe

#### 4. Use the indicator argument to check whether there was a full match between the two dataframes

In [2]:
#Import Libaries

import pandas as pd
import numpy as np
import os

#### 1. Import the data set

In [3]:
#Create a path 
path = r'C:\Users\Utilizador\OneDrive\Documents\CareerFoundry - Data Analyst\Data Immersion\A4\19-01-2024 Instacart Basket Analysis'

In [4]:
#Import orders_checked.csv
df_ords=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'),index_col =False)

In [5]:
#Import orders_products_prior
df_ords_prior=pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'),index_col=False)

#### 2. Check the dimensions of the imported dataframe

In [6]:
#Check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order
0,0,0,2539329,1,1,2,8,NaN,1
1,1,1,2398795,1,2,3,7,15.0,0
2,2,2,473747,1,3,3,12,21.0,0
3,3,3,2254736,1,4,4,7,29.0,0
4,4,4,431534,1,5,4,15,28.0,0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 9)

#### 3. Merge the dataframe with your df_ords dataframe

In [10]:
#merge df_ords & df_ords_prior
df_merged_large=df_ords.merge(df_ords_prior,on='order_id',indicator=True)

In [11]:
#merged output
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,1,26405,5,0,both

In [12]:
#merge flag counts
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
#Export data to pkl
df_merged_large.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [15]:
df_merged_large.shape

(32434489, 13)